---
import { getCollection } from "astro:content"
import { SITE_TITLE } from "../consts"
import Base from "../layouts/Base.astro"
import TextLink from "../components/TextLink.astro"
import Icon from "../components/Icon.astro"

const posts = (await getCollection("posts"))
  .sort((a, b) => (a.data.date > b.data.date ? -1 : 1))
  .filter((p) => !p.data.draft)
---

<Base title={SITE_TITLE}>
  <section>
    <h2 class="flex items-center gap-2 text-3xl">
      <Icon name="mdi:post-outline" size={20} />
      <span>Posts</span>
    </h2>
    <ul class="mt-4 space-y-1">
      {
        posts.map((post) => (
          <li>
            <TextLink href={`/posts/${post.slug}/`}>{post.data.title}</TextLink>
            <span class="text-sm">
              {" "}
              - <time datetime={post.data.date}>{post.data.date}</time>
            </span>
          </li>
        ))
      }
    </ul>
  </section>
</Base>
